* {
    box-sizing: border-box;
}

html, body {
    height: 100px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

.App {
    display: grid;
}


.App .playerControls {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.App .videoSearch input {
    width: 100%;
}
